<h1>
    Color Clustering
</h1>
<div id="wrapper">
    <div id="main-content" class="container-fluid">
        <div id="upload" class="row">
            <span id="upload-span" class="col-6 right">Upload Image:</span>
            <input class="col-6 left" type="file" value="Upload" (change)=onChange($event)>
        </div>
        <div id="clusters" class="row">
            <div class="col-6 right">
                Number of Clusters:
            </div>
            <div class="col-6 left">
                <div *ngFor="let clustersEntry of clustersEntries; let clustersIDX = index">
                    <td>
                        <input type="radio" name="clustersRadioGroup" (change)="onSelectionClustersChange(clustersEntry)" [checked]="(clustersIDX === 0)"
                            [value]="clustersEntry.id">
                    </td>
                    <td id="description">{{ clustersEntry.description }}</td>
                </div>
            </div>
        </div>

        <div id="precision" class="row">
            <div class="col-6 right">
                Precision:
            </div>
            <div class="col-6 left">
                <div *ngFor="let precisionEntry of precisionEntries; let precisionIDX = index">
                    <td>
                        <input type="radio" name="precisionRadioGroup" (change)="onSelectionPrecisionChange(precisionEntry)" [checked]="(precisionIDX === 0)"
                            [value]="precisionEntry.id">
                    </td>
                    <td id="description">{{ precisionEntry.description }}</td>
                </div>
            </div>
        </div>

        <div class="row">
            <button id="start-button" (click)="start()">Start</button>
        </div>
    </div>
</div>